
# IntelliJ
*.iml
/.idea
out/
/local.properties

# Gradle
.gradle
build
/reports

tomcat.*

target
logs

*.ipr
*.iws
*.log
.classpath
.project
.settings

# Netbeans
nbactions.xml

# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
